@font-face {
  font-family: 'Sahar';
  font-weight: normal;
  src: local('Sahar'), url(./assets/fonts/Sahar-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sahar';
  font-weight: bold;
  src: local('Sahar'), url(./assets/fonts/Sahar-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sahar';
  font-weight: 100;
  src: local('Sahar'), url(./assets/fonts/Sahar-Thin.ttf) format('truetype');
}

html {
  background-color: #09101d !important;
  overflow: hidden !important;
}

body {
  font-size: 0.9em !important;
}

.main-wrapper {
  position: fixed;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

* {
  font-family: "Sahar", "Arial", SansSerif !important;
}

h1, h2, h3, h4, h5 {
  color: #fff
}

h1 {
  letter-spacing: 6px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 99px !important;
  font-weight: lighter !important;
}

h3 {
  text-align: left;
  color: black;
  font-size: 4rem !important;
  font-weight: lighter !important;
}

.default-background {
  background-color: #09101d;
}

.nav-logo {
  height: 37px;
  max-height: 1000px !important;
}

.fully-loaded {
  animation-play-state: paused;
}

.loaded-fade-out {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.loading-screen {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100000;
}

.mask {
  overflow: hidden;
}

.text-animation-up {
  position: relative;
  transform: translateY(120%);
  transition: all 1.25s cubic-bezier(0.25, 0.1, 0.1, 1);
  -webkit-transition: all 1.25s cubic-bezier(0.25, 0.1, 0.1, 1);
  will-change: transform;
}

.show {
  transform: translateY(0);
}

.fade-out-fast {
  animation: 0.5s cubic-bezier(0.25, 0.1, 0.1, 1) 1s normal forwards 1 fadeout;
}

.fade-in-fast {
  animation: 0.5s cubic-bezier(0.25, 0.1, 0.1, 1) 0s normal forwards 1 fadein;
}

.fade-in {
  animation: 1s cubic-bezier(0.25, 0.1, 0.1, 1) 0.7s normal forwards 1 fadein;
}

.fade-in-delay-1 {
  animation: 1s cubic-bezier(0.25, 0.1, 0.1, 1) 1.5s normal forwards 1 fadein;
}

.fade-in-delay-2 {
  animation: 1s cubic-bezier(0.25, 0.1, 0.1, 1) 2s normal forwards 1 fadein;
}

.fade-in-delay-3 {
  animation: 1s cubic-bezier(0.25, 0.1, 0.1, 1) 2.5s normal forwards 1 fadein;
}

.opacity-0 {
  opacity: 0;
}

#globe-video {
  transform: rotateY(180deg) translateY(-50%);
  position: fixed;
  width: 300%;
  max-width: 300% !important;
  height: 125vh !important;
  z-index: 100;
  top: 50%;
  right: -140%;
}

.preview-line {
  margin: auto;
  display: flex;
  height: 1px;
  width: 0px;
  background: #00ff9d;
  animation: 10s cubic-bezier(0.25, 0.1, 0.1, 1) 0s normal forwards 1 growwide;
}

.intro-container {
  z-index: 200;
}

.intro-p {
  font-family: "Sahar", "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.intro-button {
  width: 170px;
  height: 40px;
  padding: 14px 54.5px 10px;
  background: none;
  border: none;
  letter-spacing: 2.4px;
  cursor: pointer;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
}

.intro-button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: #00ff9d;
  z-index: -30;
}

.intro-button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 100%;
  background: white;
  z-index: -1;
  -webkit-transform: rotate3d(0, 0, 1,
  -45deg) translate3d(0, -3em, 0);
  transform: rotate3d(0, 0, 1,
  -45deg) translate3d(0, -3em, 0);
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s, background-color 0.3s;
  transition: transform 0.3s, opacity 0.3s, background-color 0.3s;
}

.intro-button:hover::before {
  opacity: 1;
  background-color: white;
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.echo-index-12 {
  margin-left: 10px;
  border: 1px solid white;
  border-radius: 40%;
  padding: 9px 13px;
  padding-top: 13px;
  font-size: 0.8rem;
  display: inline-block;
  font-weight: bold;
  letter-spacing: 1px !important;
}

.navbar {
  background-color: transparent !important;
  background-image: none !important;
  padding: 20px 50px;
}

.navbar button {
  cursor: pointer;
}

.mobile-echo-button {
  display: none !important;
}

.navbar-center {
  letter-spacing: 3px;
  flex-grow: 1;
  justify-content: center !important;
}

.navbar-item {
  padding: 0 !important;
  color: #fff !important;
}

.navbar-item:hover {
  color: #00ff9d !important;
}

.navbar-item:hover .echo-index-12 {
  border-color: #00ff9d;
}

.boxy-outline {
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 32px !important;
  border-color: #979797 !important;
}

.navbar-burger {
  border-radius: 40% !important;
  color: #979797 !important;
  cursor: pointer;
}

.navbar-burger:hover {
  border-color: #00ff9d !important;
  color: #00ff9d !important;
}

.boxy-outline:hover {
  border-color: #00ff9d !important;
}

.padded-about {
  padding: 40px 32px !important;
  font-size: x-small;
  font-weight: bold;
  margin-top: 20px;
}

.expand-button {
  position: absolute;
 
  margin-left: -320px;
  margin-top: 100px;
  width: 100%;
  height: 100%;
  border-radius: 999px;
}

.center-expand-button {
  position: absolute;
  margin-left: -50px;
  margin-top: 10vh;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 999px;
}

.expanded-button {
  background: white;
  left: -120vw;
  top: -80vh;
  width: 200vw;
  height: 200vw;
  border-radius: 999px;
  transition: all 0.75s ease-in;
}
.close-button {
  background: white;
  left: 20vw;
  top: -10vh;
  width: 0vw;
  height: 0vw;
  border-radius: 999px;
  transition: all 0.45s ease-in;
}

.center-expanded-button {
  background: white;
  left: -85vw;
  top: -200px;
  width: 180vw;
  height: 180vw;
  transition: all 0.70s ease-in;
}
.center-close-button {
  background: white;
  left: 10vw;
  top: -10vh;
  width: 0vw;
  height: 0vw;
  border-radius: 999px;
  transition: all 0.45s ease-in;
}

.controls-container {
  position: absolute;
  top: 150px;
  padding: 0 50px;
}

.control-panel {
  margin-top: 40px;
}

.map-container {
  position: absolute;
  z-index: -10000;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  pointer-events: auto;
}

.map-mobile-overlay {
  position: absolute;
  z-index: -5000;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
  background: rgba(0, 255, 157, 0.1);
  pointer-events: none;
}

.dropdown-arrow {
  border-right: solid 1px white;
  border-bottom: solid 1px white;
  height: 10px !important;
  width: 10px !important;
  margin-left: auto !important;
  margin-right: 4px !important;
  transform: rotate(45deg) translateY(-5px);
}

.dropdown-arrow:hover {
  border-color: #00ff9d;
}

.dropdown-control {
  background: rgba(0, 0, 0, 0.3) !important;
  color: white !important;
  font-size: 0.9rem !important;
  border-radius: 0 !important;
  border-color: #979797 !important;
  padding: 25px 15px !important;
  text-align: left;
  justify-content: left !important;
  width: 260px !important;
}

.dropdown-control:hover {
  /*background: none !important;*/
  border-color: #00ff9d !important;
  border-radius: 0 !important;
}

.dropdown-menu {
  padding-top: 0 !important;
}

.dropdown-content {
  border-radius: 0 !important;
  padding: 0 !important;
}

.green-border {
  border-color: #00ff9d !important;
}

.dropdown-item {
  padding: 13px 13px !important;
  padding-right: 47px !important;
  font-size: 0.9rem !important;
  color: black;
  border: none;
  cursor: pointer;
  background: white;
}

.dropdown-item:hover {
  background: #00ff9d !important;
}

.dropdown-item.is-active {
  background: #00ff9d !important;
}

.property-selector {
  margin-top: 3rem;
}

.property-selector button {
  background: none !important;
  border: none;
  border-left: solid 1px #979797;
  padding: 15px;
  padding-right: 40px;
  color: white;
  cursor: pointer;
  position: relative;
}

/*.property-selector button:hover {*/
/*  border-left: solid 1px #00ff9d;*/
/*}*/

.property-selector button::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: linear-gradient(110deg, grey 80%, transparent 20%) !important;
  z-index: -166;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: width 0.3s, opacity 0.3s, background-color 0.3s;
  transition: width 0.3s, opacity 0.3s, background-color 0.3s;
}

.property-selector button:hover::after {
  width: 100%;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.property-selector button.is-active::after {
  /*opacity: 0;*/
  z-index: -200;
  width: 100%;
}

.property-selector button.is-active {
  border-left: solid 1px #00ff9d;
  width: 100px;
  padding: 15px;
  padding-right: 40px;
  color: black;
  font-weight: bold;
  font-size: 1.3rem;
}

.property-selector button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background: linear-gradient(110deg, #00ff9d 80%, transparent 20%) !important;
  z-index: -1;
  -webkit-transform-origin: 0% 100%;
  transform-origin: 0% 100%;
  -webkit-transition: width 0.3s, opacity 0.3s, background-color 0.3s;
  transition: width 0.3s, opacity 0.3s, background-color 0.3s;
}

.property-selector button.is-active::before {
  opacity: 1;
  width: 100%;
  -webkit-transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
}

.bottom-container {
  position: absolute;
  bottom: 10px;
  display: flex;
  width: 100%;
  padding-left: 50px;
}

.investor-logo svg {
  position: absolute;
  bottom: 30px;
}

.value-legend {
  color: white;
  font-size: 0.8rem;
  text-align: right;
  position: absolute;
  width: 20%;
  bottom: 30px;
  right: 50px;
  /*background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.45), rgba(0, 0, 0, 0.4) 100%);*/
  border-top-left-radius: 250px;
  /*box-shadow: -20px 0px 100px 100px rgba(0,0,0,0.43);*/
}

.padded-close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 40px 32px !important;
  font-size: x-small;
  background: none;
  cursor: pointer;
}

.padded-close-button:hover {
  color: #00ff9d;
}

.modal-card {
  padding: 0 150px;
  overflow-y: scroll !important;
  background: #f9f9f9 !important;
}

.modal-index {
  padding-right: 0;
}

.modal-index-title {
  text-align: left;
  margin-top: 70px;
  line-height: 0.9;
}

.modal-index-subtitle {
  text-align: left;
  font-size: 6rem;
  line-height: 1;
}
.modal-index-subtitlew {
  text-align: left;
  font-size: 6.5rem;
  line-height: 1;
}

.is-half {
  font-size: 1.2rem;
}
.pr-4 {
  font-size: 1.1rem;
  margin-top: 150px;
}
.echo-container {
  padding-top: 100px;
}

.device-indicators {
  width: 100%;
  margin-top: -100px !important;
}

.device-indicators .indicator {
  font-weight: bold;
  font-size: 0.6rem;
  width: 25%;
  height: 0.1vw;
  border-left: #00ff9d solid 2px;
  padding-top: 150px;
  padding-bottom: 0px;
  z-index: -100;
}

.map-legend-button {
  width: 140px;
  margin-top: 10px;
  border: none;
  background: none;
  color: white;
  text-align: right;
  cursor: pointer;
}

.map-legend-button:hover {
  color: #00ff9d;
}

.map-legend-exclamation {
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  border: solid 1px white;
  border-radius: 50%;
  width: 13%;
  display: inline-block;
  padding-top: 2%;
}

.map-legend-button:hover > .map-legend-exclamation {
  border-color: #00ff9d;
}

.map-value-desc-container {
  position: absolute;
  bottom: 20vh;
  right: 0;
  padding-right: 50px;
  padding-left: 150px;
  padding-top: 100px;
  width: 639px;
  transition: opacity 0.4s ease-in;
  background: radial-gradient(ellipse at center, rgba(0,0,0,0.7) 0, rgba(0,0,0,0.6), rgba(0, 0, 0, 0.45) 100%);
  border-top-left-radius: 250px;
  box-shadow: -20px 0px 200px 200px rgba(0,0,0,0.5);
  opacity: 0;
}

.map-value-desc-container-show {
  opacity: 1;
}

.map-value-desc-container-hide {
  right: -1000px;
}

.map-value-desc-container .delete {
  padding: 15px !important;
  max-height: 60px !important;
  max-width: 60px !important;
}

.map-value-desc-title {
  margin-left: -120px;
  font-weight: bold;
  font-size: 2em;
  padding-bottom: 10px;
}

.map-value-desc-title:before {
  content: "";
  position: absolute;
  width: 70px;
  height: 1px;
  top: 80px;
  left: -95px;
  border-bottom: 1px solid #00ff9d;
}

.p-relative {
  position: relative;
}

.toyota-yaris-background {
  width: 100%;
  height: 100%;
  background-position: left center;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.map-value-desc-text {
  color: white !important;
  margin-top: -20px;
  line-height: 1.8;
  padding: 0px 20px;
}

.close-button-wrapper {
  position: relative;
  float: right;
  display: block;
  margin-top: -60px;
  color: rgba(255, 255, 255, 1);
  font-size: 1.3rem;
  text-align: center;
  font-weight: normal;
  cursor: pointer;
  width: 55px;
  height: 55px;
  border: solid 1px #979797;
  border-radius: 20px;
  background: none;
}

.close-button-wrapper:hover {
  color: #00ff9d;
  border-color: #00ff9d;
}

.collapsable-toggle {
  background: none;
  border: none;
  right: 0;
  position: absolute;
  font-weight: lighter;
  font-size: 60px;
  cursor: pointer;
}

.collapsable-content {
  max-height: 0;
  overflow: hidden;
  transition: all 1.55s ease-out;
}

#about-title {
  font-size: 8rem!important;
}

.collapsable-content.expanded {
  transition: all 1s ease-in;
  max-height: 1000px;
  padding: 20px 0px;
}

.profile-picture {
  width: 80%;
}

.scale-container {
  border: solid rgba(0,0,0,0.2) 2px;
  padding: 30px
}

@media screen and (min-width: 1080px) and (max-width: 1400px) {
  .toyota-yaris-background {
    background-position: center;
  }
  #about-title {
    font-size: 5.4rem!important;
    
  }
  .scale-container {
    
    margin-top: -40px!important;
  }
  .pr-4 {
    font-size: 1.1rem;
    margin-top:  60px;
  }
  .echo-container {
    padding-top: 80px;
  }

  .modal-index-subtitle {
    font-size: 7rem !important;
  }
  .modal-index-subtitlew {
    font-size: 4rem !important;
  }
  
  h2 {
   
    font-size: 3rem !important;
  }
  .center-expanded-button {
    
    left: -120vw;
    width: 250vw;
    height: 250vw;
  
  }
  .center-expand-button {
    
    margin-left: 20px;
   
  }
  .expanded-button {
  
    left: -140vw;
   
  
  }
  .expand-button {
   
   
    margin-left: -200px;
    
  }
}

.modal.modal-fx-fadeIn .modal-content {
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s; 
}
.modal.modal-fx-fadeIn.is-active .modal-content {
  opacity: 1;
  transition: all 0.3s;
}

@media screen and (min-width: 768px) and (max-width: 1080px) {
  .mobile-echo-button {
    position: relative;
    display: inline !important;
    margin-left: auto;
    margin-right: 20px;
  }

  .echo-container {
    padding-top: 0;
  }

  h2 {
   
    font-size: 3rem !important;
  }

  #globe-video {
    width: 300%;
    height: 125vh !important;
    top: 50%;
    right: -160%;
  }

  .modal-index-title {
    font-size: 4rem !important;
  }

  .modal-index-subtitle {
    font-size: 4rem !important;
  }

  .toyota-yaris-background {
    background-position: center;
  }
}

@media screen and (min-width: 0) and (max-width: 768px) {
  .navbar {
    padding: 20px 20px 0;
  }

  .navbar-burger {
    margin-left: 0 !important;
  }

  .nav-logo {
    height: 20px;
  }

  .mobile-echo-button {
    position: relative;
    display: inline !important;
    margin-left: auto;
    margin-right: 20px;
  }

  #globe-video {
    width: 100%;
    right: 0;
    left:0;
    top: -4%;
    height: auto !important;
  }

  .intro-container {
    padding-top: 30% !important;
  }

  .controls-container {
    padding-right: 0;
    padding-left: 20px;
    width: 90px;
    top: 80px !important;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.45), rgba(0, 0, 0, 0.4) 100%);
    border-top-left-radius: 250px;
    box-shadow: -20px 0px 100px 100px rgba(0,0,0,0.43);
  }

  .control-panel {
    margin-top: 1rem;
  }

  .bottom-container {
    padding-left: 20px;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.45), rgba(0, 0, 0, 0.4) 100%);
    border-top-left-radius: 250px;
    box-shadow: -20px 0px 100px 100px rgba(0,0,0,0.43);
  }

  .value-legend {
    width: 60%;
    bottom: 10px;
    right: 20px;
  }

  .map-value-desc-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    bottom: 0;
    border-radius: unset;
    background: rgba(0,0,0,0.93);
    z-index: 1000;
    overflow: scroll;
    padding: 200px 50px 100px 30px;
  }

  .map-value-desc-container-hide {
    right: -1000px;
  }

  .map-value-desc-title {
    margin-left: 0;
    margin-bottom: 50px;
    padding-bottom: 10px;
  }

  .map-value-desc-title:before {
    left: 24px;
  }

  .map-value-desc-text {
    padding: 0px;
  }

  .modal-full-screen {
    position: absolute !important;
  }

  .modal-nav {
    padding: 0 10px;
  }

  .modal-card {
    padding: 0 22px;
  }

  .modal-index-title {
    margin-top: 30px;
  }

  h2 {
    text-align: left;
    font-size: 1.8rem !important;
  }

  .mobile-section {
    padding: 15px !important;
  }

  .profile-picture {
    width: 100%;
  }

  .scale-container {
    border: unset;
    padding: 30px
  }
}

@media screen and (min-height: 0) and (max-height: 750px) {
  
  .controls-container {
    top: 120px;
  }

  .property-selector {
    margin-top: 1rem !important;
  }

  .property-selector button {
    font-size: 0.7rem;
    padding: 10px;
  }

  .property-selector button.is-active {
    width: 100px;
    /*padding: 10px;*/
    padding-left: 15px;
    padding-right: 30px;
    font-size: 0.7rem;
  }
}

/* animations */
@keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@-webkit-keyframes fadein {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@-webkit-keyframes fadeout {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

@keyframes fillBar {
  0% {
    width: 0;
  }
  10% {
    width: 10px;
  }
  20% {
    width: 20px;
  }
  30% {
    width: 30px;
  }
  40% {
    width: 40px;
  }
  50% {
    width: 50px;
  }
  60% {
    width: 60px;
  }
  70% {
    width: 70px;
  }
  80% {
    width: 80px;
  }
  90% {
    width: 90px;
  }
  100% {
    width: 200px;
  }
}

@keyframes growwide {
  0% {
    width: 0;
  }
  100% {
    width: 150px;
  }
}