@font-face {
  font-family: 'Sahar';
  font-weight: normal;
  src: local('Sahar'), url(./assets/fonts/Sahar-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Sahar';
  font-weight: bold;
  src: local('Sahar'), url(./assets/fonts/Sahar-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Sahar';
  font-weight: 100;
  src: local('Sahar'), url(./assets/fonts/Sahar-Thin.ttf) format('truetype');
}

html {
  background-color: #09101d !important;
  overflow: hidden !important;
}

* {
  font-family: "Sahar", "Arial", SansSerif !important;
}

h1, h2, h3, h4, h5 {
  color: #fff
}

h1 {
  letter-spacing: 6px;
}

h2 {
  text-align: center;
  color: black;
  font-size: 99px !important;
  font-weight: lighter !important;
}

h3 {
  text-align: left;
  color: black;
  font-size: 4rem !important;
  font-weight: lighter !important;
}

.default-background {
  background-color: #09101d;
}

.intro-p {
  font-family: "Sahar", "Arial", sans-serif;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.4;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.intro-button {
  width: 170px;
  height: 40px;
  padding: 14px 54.5px 10px;
  background-color: #00ff9d;
  border: none;
  letter-spacing: 2.4px;
}

.navbar {
  background-color: transparent !important;
  background-image: none !important;
  padding: 20px 50px;
}

.navbar button {
  cursor: pointer;
}

.navbar-center {
  letter-spacing: 3px;
  flex-grow: 1;
  justify-content: center !important;
}

.navbar-item {
  padding: 0 !important;
  color: #fff !important;
}

.navbar-item:hover {
  color: #00ff9d !important;
}

.boxy-outline {
  border-style: solid;
  border-width: 1px;
  border-radius: 32px;
  border-color: #979797;
}

.boxy-outline:hover {
  border-color: #00ff9d !important;
}

.padded-about {
  padding: 40px !important;
  font-size: x-small;
  margin-top: 20px;
}

.controls-container {
  position: absolute;
  top: 150px;
  padding: 0 50px;
}

.control-panel {
  margin-top: 40px;
}

.map-container {
  position: absolute;
  z-index: -10000;
  height: 100vh;
  width: 100%;
  top: 0;
  overflow: hidden;
}

.dropdown-control {
  background: none !important;
  color: white !important;
  font-size: 1rem !important;
  border-radius: 0 !important;
  border-color: #979797 !important;
  padding: 25px 25px !important;
}

.dropdown-control:hover {
  background: none !important;
  border-color: #00ff9d !important;
  border-radius: 0 !important;
}

.dropdown-menu {
  padding-top: 0 !important;
}

.dropdown-content {
  border-radius: 0 !important;
  padding: 0 !important;
}

.dropdown-item {
  padding: 13px 26px !important;
  font-size: 1rem !important;
  color: black;
}

.dropdown-item:hover {
  background: #00ff9d !important;
}

.property-selector button {
  background: none !important;
  border: none;
  border-left: solid 1px #979797;
  padding: 15px;
  color: white;
  cursor: pointer;
}

.property-selector button:hover {
  border-left: solid 1px #00ff9d;
}

.property-selector button.is-active {
  border-left: solid 1px #00ff9d;
  width: 100px;
  padding: 15px;
  padding-left: 20px;
  padding-right: 40px;
  background: linear-gradient(110deg, #00ff9d 80%, transparent 20%) !important;
  color: black;
  font-weight: bold;
  font-size: 1rem;
}

.bottom-container {
  position: absolute;
  bottom: 20px;
  display: flex;
  width: 100%;
  padding-left: 50px;
}

.investor-logo svg {
  position: absolute;
  bottom: 50px;
}

.value-legend {
  color: white;
  font-size: 0.8rem;
  text-align: right;
  position: absolute;
  width: 25%;
  bottom: 50px;
  right: 50px;
}

.padded-close-button {
  position: absolute;
  top: 40px;
  right: 40px;
  padding: 40px !important;
  font-size: x-small;
  background: none;
}

.padded-close-button:hover {
  color: #00ff9d;
}

.modal-card {
  padding: 0 150px;
  overflow-y: scroll !important;
  background: #f9f9f9 !important;
}

.device-indicators {
  width: 100%;
  margin-top: -100px !important;
}

.device-indicators .indicator {
  font-weight: bold;
  font-size: 0.6rem;
  width: 25%;
  height: 0.1vw;
  border-left: #00ff9d solid 2px;
  padding-top: 150px;
  padding-bottom: 0px;
  z-index: -100;
}

.map-legend-button {
  width: 140px;
  margin-top: 10px;
  border: none;
  background: none;
  color: white;
  text-align: right;
  cursor: pointer;
}

.map-legend-button:hover {
  color: #00ff9d;
}

.map-legend-exclamation {
  text-align: center;
  font-weight: bold;
  font-size: 0.7rem;
  border: solid 1px white;
  border-radius: 50%;
  width: 15%;
  display: inline-block;
  padding-top: 3%;
}

.map-legend-button:hover > .map-legend-exclamation {
  border-color: #00ff9d;
}

.map-legend-container {
  position: absolute;
  bottom: 400px;
  right: 50px;
  width: 500px;
  transition: right 0.2s ease-out;
}

.map-legend-container-hide {
  right: -1000px;
  /*z-index: -20000;*/
}